body {
  font-family: 'Lora', serif;
  margin: 20px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  /* other styles */
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Hide rows for pagination */
.hidden {
  display: none;
}

/* Pagination container */
.pagination {
  margin-top: 20px;
  text-align: center;
}

/* Pagination buttons */
.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}